schema/CITKat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xs3p/xs3p.xsl"?>
<!--
TODO: Associated Institute: IIT CITEC CoR-Lab
TODO: documentation
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" targetNamespace="https://toolkit.cit-ec.uni-bielefeld.de/CITKat"
           xmlns="https://toolkit.cit-ec.uni-bielefeld.de/CITKat">
    <xs:element name="catalog" type="catalogType">
        <xs:annotation>
            <xs:documentation xml:lang="en">The Root-element of the document.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element type="xs:string" name="description">
        <xs:annotation>
            <xs:documentation xml:lang="en">Description, either plain text or with Markdown syntax.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element type="dependenciesType" name="dependencies">
        <xs:annotation>
            <xs:documentation xml:lang="en">Contains system-dependencies and also component versions.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="filename" type="filenameType">
        <xs:annotation>
            <xs:documentation xml:lang="en">To restrict file names to a specific set of chars.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="keyword" type="xs:token">
        <xs:annotation>
            <xs:documentation xml:lang="en">Keywords.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="license" type="xs:token">
        <xs:annotation>
            <xs:documentation xml:lang="en">Licenses.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element type="relationType" name="relation">
        <xs:annotation>
            <xs:documentation xml:lang="en">To express the relation between component versions.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element type="extendsType" name="extends">
        <xs:annotation>
            <xs:documentation xml:lang="en">May contain another component or system version the actual element inherits from.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element type="resourceType" name="resource">
            <xs:annotation>
            <xs:documentation xml:lang="en">A resource contains a hyper-ref of a linked (external) artifact, like SCM, bug tracking, homepage, etc.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="distributionType">
        <xs:sequence>
            <xs:element ref="filename"/>
            <xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="license" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="resource" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="extends" minOccurs="0"/>
            <xs:element ref="dependencies"/>
            <xs:element ref="relation" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Allowed fragment types are: project, person, hardware,
                        dataset,
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="accessType" name="access" use="required"/>
        <xs:attributeGroup ref="nameAndVersion"/>
        <xs:attribute type="xs:anyURI" name="buildServerBaseURL" use="required"/>
        <xs:attribute type="xs:anyURI" name="build-generator-template" use="required"/>
    </xs:complexType>

    <xs:simpleType name="filenameTypeType">
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="[^\s\\/#]+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="filenameType">
        <xs:simpleContent>
            <xs:extension base="filenameTypeType"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:attributeGroup name="nameAndVersion">
        <xs:attribute type="xs:token" name="name" use="required"/>
        <xs:attribute type="xs:token" name="version" use="required"/>
    </xs:attributeGroup>
    <xs:simpleType name="accessType">
        <xs:restriction base="xs:token">
            <xs:pattern value="private|public"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="catalogType">
        <xs:sequence>
            <xs:choice>
                <xs:element type="distributionType" name="distribution">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">The distribution element links all entity types by
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element type="personType" name="person"/>
                <xs:element type="publicationType" name="publication">
                    <xs:annotation>
                        <!-- TODO: Documentation publicationType -->
                        <xs:documentation xml:lang="en"></xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element type="projectType" name="project"/>
                <xs:element type="hardwareType" name="hardware"/>
                <xs:element type="projectType" name="dataset"/>
                <xs:element type="experimentType" name="experiment">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">The experiment entity comes from a project entity, that has a
                            "experiment" in its
                            file name. Attributes and
                            sub-elements have the same type as the project-entity.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="relationType">
        <xs:simpleContent>
            <xs:extension base="filenameTypeType">
                <xs:attribute type="relationTypeType" name="type" use="required"/>
                <xs:attribute type="xs:token" name="role"/>
                <xs:attribute type="xs:token" name="name"/>
                <xs:attribute type="xs:token" name="version"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="relationTypeType">
        <xs:restriction base="xs:token">
            <xs:pattern value="project|person|hardware|dataset|experiment|publication"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="publicationType">
        <xs:annotation>
            <xs:appinfo>
                <xs:assert
                        test="@title and ((@provider and @id and not(@url)) or (not(@provider) and not(@id) and @url))"/>
            </xs:appinfo>
            <xs:documentation xml:lang="en">Restricted to the following attribute combinations: @title AND ((@id AND
                @provider) OR
                @url)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="filename"/>
            <xs:element ref="relation" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:token" name="provider"/>
        <xs:attribute type="xs:token" name="id"/>
        <xs:attribute type="xs:anyURI" name="url"/>
        <xs:attribute type="xs:token" name="title"/>
    </xs:complexType>
    <xs:complexType name="projectType">
        <xs:sequence>
            <xs:element ref="filename"/>
            <xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="license" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="resource" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="dependencies" minOccurs="0"/>
            <xs:element ref="relation" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="accessType" name="access" use="required"/>
        <xs:attributeGroup ref="nameAndVersion"/>
    </xs:complexType>
    <xs:complexType name="hardwareType">
        <xs:sequence>
            <xs:element ref="filename"/>
            <xs:element ref="keyword" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="resource" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element type="xs:token" name="modelType" minOccurs="0"/>
            <xs:element type="xs:token" name="serialNumber" minOccurs="0"/>
            <xs:element type="xs:token" name="fieldOfApplication" minOccurs="0"/>
            <xs:element type="xs:token" name="acronym" minOccurs="0"/>
            <xs:element type="xs:token" name="manufacturer" minOccurs="0"/>
            <xs:any minOccurs="0" processContents="skip"/>
            <xs:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="version" use="required"/>
    </xs:complexType>
    <xs:complexType name="dependenciesType">
        <xs:sequence>
            <xs:element type="systemType" name="system" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="directDependencyType" name="directDependency" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="directDependencyType">
        <xs:simpleContent>
            <xs:extension base="filenameTypeType">
                <xs:attribute type="xs:token" name="name"/>
                <xs:attribute type="xs:token" name="version"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="experimentType">
        <xs:complexContent>
            <xs:extension base="projectType">
                <xs:sequence>
                    <xs:element name="iniPath" type="xs:anyURI"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="repositoryType">
        <xs:simpleContent>
            <xs:extension base="xs:token">
                <xs:attribute type="xs:token" name="gpgkey"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="systemType">
        <xs:sequence>
            <xs:element type="repositoryType" name="repository" minOccurs="0"/>
            <xs:element type="xs:token" name="dependency" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="nameAndVersion"/>
    </xs:complexType>
    <xs:complexType name="extendsType">
        <xs:simpleContent>
            <xs:extension base="filenameTypeType">
                <xs:attributeGroup ref="nameAndVersion"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element ref="filename"/>
            <xs:element ref="description" minOccurs="0"/>
            <xs:element ref="resource" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="xs:token" name="name" minOccurs="0"/>
            <xs:element type="xs:token" name="email" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="relation" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:token" name="provider"/>
        <xs:attribute type="xs:token" name="pid"/>
        <xs:attribute type="xs:anyURI" name="url"/>
    </xs:complexType>
    <xs:complexType name="resourceType">
        <xs:attribute name="name" type="xs:token"/>
        <xs:attribute name="type" use="required" type="resourceTypeType"/>
        <xs:attribute name="href" use="required" type="xs:anyURI"/>
        <xs:attribute name="alt" type="xs:token"/>
    </xs:complexType>
    <xs:simpleType name="resourceTypeType">
        <xs:restriction base="xs:token">
            <xs:pattern value="img|homepage|scm|bugtracker|documentation|video"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>